* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

.limitedWidth {
  width: 100%;
  max-width: 1024px;
  padding: 50px 20px;
  
  display: flex;
}

strong {
  font-weight: bold;
}