.cardClientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    border-radius: 10px;
    border: 1px solid gray;

    flex: 1 1 100%;

    .imagem {
        width: 100%;
        height: 200px;

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        object-fit: cover;
        object-position: center top;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        text-align: center;

        padding: 0 20px 40px 20px;
    }
}

// Estilos para telas de até 375px
@media (max-width: 375px) {
    .cardClientes {
      .imagem {
        height: 150px; // Ajusta a altura da imagem para telas menores
      }
  
      .section {
        padding: 0 10px 20px 10px; // Reduz o padding para telas menores
      }
    }
  }
  
  // Estilos para telas de até 768px
  @media (max-width: 768px) {
    .cardClientes {
      .imagem {
        height: 180px; // Ajusta a altura da imagem para tablets
      }
  
      .section {
        padding: 0 15px 30px 15px; // Ajusta o padding para tablets
      }
    }
  }
  
  // Estilos para telas de até 1024px
  @media (max-width: 1024px) {
    .cardClientes {
      .imagem {
        height: 200px; // Mantém a altura da imagem para desktops menores
      }
  
      .section {
        padding: 0 20px 40px 20px; // Mantém o padding para desktops menores
      }
    }
  }